.decoration {
  /* font-size: 48PX; */
  /* font-size: 10em; */
  /* font-size: 5rem; */
  /* font-size: 10%; */
  /* color: red; */
  /* color: #ff0000 */
  /* color: rgb(255, 0, 0, 0.5); */
  /* font-weight: bold; */
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  font-style: italic;
  /* line-height: 2; */
  /* letter-spacing: 0.5em; */
  /* text-decoration: underline; */
  /* text-decoration: line-through; */
  /* border: solid 3px red; */
  /* border: dotted 3px red; */
  /* border: dashed 3px red; */
  /* border: double 3px red; */
  /* border-top: solid 3px red; */
  /* border-bottom: dotted 3px blue; */
  /* border-left: dashed 3px green; */
  /* border-right: double 3px gray;  */
  /* background-color: red; */
  /* text-shadow: 1px 1px 2px gray; */
  /* text-shadow: 2px 2px 4px gray; */
  /* text-align: center; */
}
.text-bold {
  font-weight: bold;
}